.head{
    background-color: gray;
    height: 200px;
}
h1{
    padding-top: 80px;
}

.parqrf{
    background-color: aqua;
    height: 100px;
    font-weight: bold;

}
FirstP{
    margin-top: 10px;
}
